---
- hosts: db
  user: root
  tasks:

  - name: Install MongoDB
    yum: name={{ item }} state=installed
    with_items:
    - mongodb
    - mongodb-server

  - name: Start the MongoDB service
    service: name=mongod state=started
