---
- hosts: web 
  user: root
  vars:
    uwsgi_sock_file: /tmp/uwsgi.sock
  
  tasks:
 
  - name: Install PIP, Nginx and python-devel
    yum: name={{ item }} state=installed
    with_items:
    - python-pip
    - nginx
    - python-devel
 
  - name: Start Nginx
    service: name=nginx state=started

  - name: Install uWSGI and Flask
    pip: name={{ item }}
    with_items:
    - uWSGI
    - flask

  #  On a production system, we wouldn't want devel packages lying around
  #- name: Remove python-devel when done
  #  yum: name=python-devel state=removed

  # Need to kill a previously running uwsgi process if found,
  # externelize app
  # externalize user and app location
  - name: Start uWSGI
    #command: uwsgi -s {{ uwsgi_sock_file }} -w myapp:app --chdir=/home/ausmarton --daemonize --chmod-socket=666 --uid=500
    uwsgi: sock_file={{ uwsgi_sock_file }} app=myapp:app app_dir=/home/ausmarton uid=500 

  - name: Configure Nginx to connect to uWSGI
    template: src=templates/nginx.default.conf.j2 dest=/etc/nginx/conf.d/default.conf

  - name: Restart Nginx
    service: name=nginx state=restarted
